html {
    font-size: 15 px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Roboto", sans-serif; /* this should be the rest of the output you got from Google fonts */
  }
  h1 {
      font-size: 60px;
      text-align: center;
      margin: 0;
      padding: 20px 0;
      color:#26426b;
      text-shadow: 3px 3px 2px rgb(0, 0, 0);
  }
img {
    width: 600px;
    display:block;
    margin: 0 auto;
}
  p, li {
      font-size: 16px;
      line-height: 2;
      letter-spacing: 1px;
  }
  body {
      width: 600px;
      margin: 0 auto;
      background-color: #F9FAFA;
      padding: 0 20px 20px 20px;
      border: 1px solid black;
  }
